@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #A8D5BA;
  --nextui-foreground: #A8D5BA;
}

.group[data-focus="true"] .group-data-\[focus\=true\]\:border-default-foreground,
.group[data-hover="true"] .group-data-\[hover\=true\]\:border-default-foreground{
  border-color: #A8D5BA !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  @apply mx-auto flex flex-col items-center justify-center;
  max-width: 1500px;
  width: 90%;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
